{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>El Sabuezo Feliz</title>
    <link rel="stylesheet" href="{% static 'CSS/loginStyles.css' %}">

  </head>
  <body>
    <div class="login-box">
      <img src="{% static 'IMG/Logo.png' %} " class="avatar" alt="Avatar Image">
      <h1>Login Here</h1>
      <form>
        <!-- USERNAME INPUT -->
        <label for="username">Usuario</label>
        <input type="text" placeholder="Enter Username">
        <!-- PASSWORD INPUT -->
        <label for="password">Contraseña</label>
        <input type="password" placeholder="Enter Password">
        <input type="submit" value="Log In">
        <a href="#">Lost your Password?</a><br>
      </form>
    </div>
  </body>
</html>