{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'CSS/login.css' %}">
  </head>
  <body>

    <div class="login-box">
      <img src="{% static 'IMG/Logo.png' %}" class="avatar" alt="Avatar Image">
      <h1>El Sabuezo Feliz</h1>
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <!-- USERNAME INPUT -->
        <label for="username" >Username</label>
        <input type="text" placeholder="Enter Username" name="username">
        <!-- PASSWORD INPUT -->
        <label for="password" >Password</label>
        <input type="password" placeholder="Enter Password" name="password" >
        <input type="submit" value="Log In">
      </form>
    </div>
  </body>
</html>