<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/app/static/CSS/bootstrap.min.css">
    <link rel="stylesheet" href="/app/static/CSS/styles.css">
    <link rel="stylesheet" href="/app/static/JS/index.js">
</head>
<body>
    <header class="header">
        <div class="logo">
<!---->            <img src="/app/static/IMG/Logo.png" alt="Logo de la marca">
        </div>
        <nav>
           <ul class="nav-links">
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="">Contacto</a></li>
           </ul>            
        </nav>
        <a class="btn" href="Login.html"><button>Registrarse</button></a>

       <a onclick="openNav()" class="menu" href="#"><button>Menu</button></a>

<!---->        <div id="mobile-menu" class="overlay">
<!---->            <a onclick="closeNav()" href="" class="close">&times;</a>
<!---->            <div class="overlay-content">
<!---->                <a href="#">Servicios</a>
<!---->                <a href="#">Nosotros</a>
<!---->                <a href="#">Contacto</a>
<!---->                <a href="Login.html">Registrarse</a>
<!---->            </div>
<!---->        </div>

    </header>
</div>

<!---->    <script type="text/javascript" src="/app/static/JS/index.js"></script>
</body>
</html>